@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
     font-family: "Ubuntu", serif;
}
button{
    font-family: "Ubuntu",serif;
    border-style: none;
}
header{
    color: white;
}
/* .Live{
    border-right: 2px solid lightgrey;
} */
.one{
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.2s;
    font-size: 1.2vw;
}
.subs{
    padding: 15px;
    border-radius: 10px;
    transition-duration: 0.2s;
    font-size: 15.5px;
}
#h1st:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    box-shadow: white;
}
.prime{
    font-size: 1.4vw;
    padding-top: 12.5px;
    padding-left: 7px;
    cursor: pointer;
}
.Menu{
    display: none;
    /* padding-top: 15px;    */
    cursor: pointer;
    /* border: 2px solid palegreen; */
    visibility: hidden;
}
.wholhead{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 14);
    /* border: 1px solid; */
}
.wholhead .wholhead1{
    width: 46%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 2px solid lightgray;
    /* border: 1px solid; */
}
.wholhead .subs{
    /* border: 1px solid; */
    width: 125px;
    /* margin-left: 10px; */
}
.wholhead .wholhead2{
    display: flex;
    flex-wrap: wrap;
    width: 24%;
    /* border: 2px solid; */
    justify-content: space-around; 
    /* padding-right: 50px; */
}
#imph{
    padding: 15px;
}
#h2nd{
    /* border: 1px solid; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 16px;
    padding-left: 16px;
}
#h2nd:hover{
    background-color: black;
    cursor: pointer;
    box-shadow: white;
    filter: invert(100%);
}
.wholhead .wholhead3{
    /* border: 1px solid; */
    width:30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
}
.Search input{
    border-radius: 10px;
    height: 25px;
    width: 250px; 
}
.Search{
    padding-top: 10px;
}
a{
    border-radius: 10px;
}
/* Dropdown Button */
.dropbtn {
    background-color: rgb(0, 0, 14);
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: grid;
    cursor: pointer;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    margin-top: 50px;
    background-color:rgba(128, 128, 128, 0.75);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition-duration: 1s;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: grid;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display:grid;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:rgb(0, 0, 14);}
.cir{
   width: 50px;
   height: 50px;
    border-radius: 50%;
    /* border: 1px solid; */
    transition-duration: 0.2s;
}
.cir img{
    padding-left: 8.5px;
    padding-top: 8.5px;
}
.cir:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.btn{
    padding-top: 3px;
}
.btn button{
    width: 100px;
    height: 45px;
    background-color: #1399FF;
    color: white;
    /* font-size: 15px; */
    /* margin-top: 5px; */
    border-radius: 10px;
    border-top: #1399FF;
    border-left: #1399FF;
    transition-duration: 0.2s;
}
.btn button:hover{
    box-shadow: 0px 0px 3.5px 3.5px rgb(130, 164, 226,0.5);
    border-right: #1399FF;
    border-bottom: #1399FF;
}
.wholhead .subs{
    padding-top: 15px;
}
.h2nd{
    /* border: 2px solid; */
    padding: 25px;
    /* padding-top: 45px; */
    /* padding-left: 50px; */
}
.h2nd h2{
    line-height: 35px;
    font-size: 1.2em;
    /* font-size: 1.4vw; */
}
.sap h1{
    font-size: 3em;
    /* font-size: 3.5vw; */
}
.h2nd button{
    background-color:white;
    color:black;
    width: 240px;
    height: 70px;
    /* font-size: 20px; */
    border-radius: 10px;
    font-size: 1.5vw;
    transition-duration: 0.3s;
}
.h2nd button:hover{
    transform: scale(1.1);
}
/* .h2nd .jp{ */
    /* border: 2px solid; */
    /* height: 70px; */
/* } */
.pos img{
    /* width: 240px;
    height: 240px; */
    border-radius: 8px;
}
.bod1{
    background-color: black;
    color: white;
}
.bod1 .sap{
    display: flex;
    flex-wrap: wrap;
}
.sap .h2nd{
    width: 50%;
    /* border: 2px solid; */
}
.sap .pos{
    display: block;
    padding-top: 20px;
}
.pos .pos1{
    display: flex;
}
.pos .img1{
    padding-left: 10px;
}
.pos .img2{
    padding-left: 10px;
}
.pos .img3{
    padding-left: 10px;
}
.pos .pos2{
    display: flex;
    margin-top: 10px;
}
.pos .img4{
    padding-left: 10px;
}
.pos .img5{
    padding-left: 10px;
}
.pos .img6{
    padding-left: 10px;
}
.h3rd{
    /* border: 2px solid; */
    padding: 30px;
    /* padding-top: 45px; */
    /* padding-left: 50px;    */
}
.h3rd h1{
    font-size: 3em;
    /* font-size: 3.5vw; */
}
.h3rd h2{
    font-size: 1.2em;
    /* font-size: 1.4vw; */
}
.h3rd button{
    background-color:white;
    color:black;    
    width: 130px;
    height: 70px;
    /* font-size:16px ; */
    border-radius: 10px;
    /* font-size: 1.3em; */
    font-size: 1.5vw;
    transition-duration: 0.3s;
}
.h3rd button:hover{
    transform: scale(1.1);
}
.sap2{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 300px; */
    padding-top: 300px;
    padding-bottom: 50px;
    /* margin-bottom: 50px; */
}
.sap2 .h3rd{
    width: 50%;
    /* border: 2px solid; */
}
.sap2 .h4th{
    /* width: 50%; */
    padding: 15px;
    /* margin-right: 5px; */
    /* border: 1px solid; */
    /* border-radius: 10px */
}
.h4th img{
    border-radius:3% ;
    width: 100%;
    /* padding-left: 13px; */
}
.sub{
    width: 50%;
    padding: 50px;
    /* padding-top: 60px; */
    /* padding-left: 60px; */
}
.sub h1{
    font-size: 3em;
    /* font-size: 3.5vw; */
}
.words{
    font-size: 1.2em;
    /* font-size: 1.6vw; */
    padding-top: 30px;
    line-height: 30px;
}
.subscription{
    display: flex;  
    flex-wrap: wrap; 
    background-color: #010b13;
    padding-top: 20px;
    padding-bottom: 250px;
}
.suby{
    /* margin-top: 60px; */
    padding-top: 60px;
    /* margin-left: 65px; */
    padding-left: 45px;
    /* border: 1px solid; */
}
.squ img{
    border-radius: 10px;
}
.suby .suby1{
    display: flex;
}
.suby .suby2{
    display: flex;
    /* margin-top: 10px; */
    padding-top: 10px;
}
.suby .suby3{
    display: flex;
    /* margin-top: 10px; */
    padding-top: 10px;
}
.suby #squ1{
    transition-duration: 0.2s;
}
.suby #squ1:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ2{
    transition-duration: 0.2s;
}
.suby #squ2:hover{
    box-shadow: 3px 3px 0px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ3{
    transition-duration: 0.2s;
}
.suby #squ3:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ4{
    transition-duration: 0.2s;
}
.suby #squ4:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ5{
    transition-duration: 0.2s;
}
.suby #squ5:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ6{
    transition-duration: 0.2s;
}
.suby #squ6:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ7{
    transition-duration: 0.2s;
}
.suby #squ7:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ8{
    transition-duration: 0.2s;
}
.suby #squ8:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby #squ9{
    transition-duration: 0.2s;
}
.suby #squ9:hover{
    box-shadow: 0px 0px 3px 3px rgb(130, 164, 226,0.5);
    border-radius: 20px;
}
.suby1 #squ2{
    /* margin-left: 10px; */
    padding-left: 10px;
}
.suby1 #squ3{
    /* margin-left: 10px; */
    padding-left: 10px;
}
.suby2 #squ5{
    /* margin-left: 10px; */
    padding-left: 10px;
}
.suby2 #squ6{
    /* margin-left: 10px; */
    padding-left: 10px;
}
.suby3 #squ8{
    /* margin-left: 10px; */
    padding-left: 10px;
}
.suby3 #squ9{
    /* margin-left: 10px; */
    padding-left: 10px;
}
footer{
    background-color: rgb(44, 38, 38);
    justify-content: center;
    justify-items: center;
}
footer .primelogo{
    padding-top: 25px;  
    display: block;
    /* padding-left: 630px; */
    justify-items: center;
    justify-content: center;
    /* border: 2px solid; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}
footer img{
    justify-items: center;
    justify-content: center;
    /* width: 50%; */
}
footer .condition{
    display:flex;
    flex-wrap: wrap;
    color: #1399FF;
    /* font-size: 1.2vw; */
    font-size: 1.1em;
    justify-content:center;
    justify-items: center;
    cursor: pointer;
    /* border: 2px solid; */
}
footer .condition2{
    color: gray;
    cursor: pointer;
    justify-items: center;
    font-size: 1.1em;
    /* font-size: 1.2vw; */
    padding-bottom: 50px;
}
@media(max-width:1335px){
    .h2nd h2{
        line-height: 33px;
        /* font-size: 1.1em; */
        /* font-size: 1.4vw; */
    }
    .sap h1{
        font-size: 3em;
        /* font-size: 3.5vw; */
    }
}
@media(max-width:1232px){
    .h2nd h2{
        line-height: 32px;
        /* font-size: 1em; */
        /* font-size: 2vw; */
    }
    /* .sap h1{ */
        /* font-size: 2.5em; */
        /* font-size: 3.5vw; */
    /* } */
}
@media(max-width:1175px){
    /* .h3rd h1{ */
        /* font-size: 2.7em; */
        /* font-size: 3.5vw; */
    /* } */
    /* .h3rd h2{ */
        /* font-size: 1.15em; */
        /* font-size: 1.4vw; */
    /* } */
}
@media(max-width:1129px){
    /* .h2nd h2{ */
        /* line-height: 30px; */
        /* font-size: 0.89em; */
        /* font-size: 2vw; */
    /* } */
    /* .sap h1{ */
        /* font-size: 2.2em; */
        /* font-size: 3.5vw; */
    /* } */
}
@media(max-width:1080px){
    /* .sap h1{ */
        /* font-size: 2em; */
        /* font-size: 3.5vw; */
    /* } */
    /* .h2nd h2{ */
        /* line-height: 29px; */
        /* font-size: 0.82em; */
        /* font-size: 2vw; */
    /* } */
    /* .h3rd h1{ */
        /* font-size: 2.25em; */
    /* } */
    /* .h3rd h2{ */
        /* font-size: 1em; */
    /* } */
    
}
@media(max-width:954px){
    /* .sap h1{
        font-size: 1.8em;
        /* font-size: 3.5vw; */
    /* } */
    /* .h2nd h2{ */
        /* line-height: 26px; */
        /* font-size: 0.77em; */
        /* font-size: 2vw; */
    /* } */
    /* .h3rd h1{ */
        /* font-size: 2.2em; */
    /* } */
    /* .h3rd h2{ */
        /* font-size: 0.9em; */
    /* } */ 
}
@media(max-width:900px) {
    .wholhead .wholhead1{
        width: 50%;
    }
    .wholhead .wholhead3{
        width: 50%;
        justify-content: space-evenly;
    }
    .wholhead .wholhead2{
        display: none;
        visibility: hidden;
    }
    .wholhead3 .subs{
        font-size: 14px;
    }
    footer img{
        width: 105px;
    } 
    .prime{
        font-size: 10px;
    }
    /* .sap h1{ */
        /* font-size: 1.65em; */
        /* font-size: 3.5vw; */
    /* } */
    /* .h2nd h2{ */
        /* line-height: 24px; */
        /* font-size: 0.725em; */
        /* font-size: 2vw; */
    /* } */
    /* .h3rd h1{ */
        /* font-size: 2em; */
    /* } */
    /* .h3rd h2{ */
        /* font-size: 0.75em; */
    /* } */
}
@media(max-width:850px){
    footer img{
        width: 100px;
    }
    /* .sap h1{ */
        /* font-size: 1.63em; */
        /* font-size: 3.5vw; */
    /* } */
    /* .h2nd h2{ */
        /* line-height: 24px; */
        /* font-size: 0.68em; */
        /* font-size: 2vw; */
    /* } */
    /* .h3rd h1{ */
        /* font-size: 1.93em; */
    /* } */
    /* .h3rd h2{ */
        /* font-size: 0.79em; */
    /* } */
    .one{
        display: none;
        visibility: hidden;
    }
    .live{
        display: none;
        visibility: hidden;
    }
    .Menu{
        display: block;
        visibility: visible;
        /* justify-items: center; */
        /* justify-content: center; */
        padding-top: 12.5px;
        font-size: 12px;
        /* border: 3px solid palegreen; */
    }
}
@media(max-width:800px){
    footer img{
        width: 95px;
    }
    /* .sap h1{ */
        /* font-size: 1.625em; */
        /* font-size: 3.5vw; */
    /* } */
    /* .h2nd h2{ */
        /* line-height: 22px; */
        /* font-size: 0.63em; */
        /* font-size: 2vw; */
    /* } */
    /* .h3rd h1{ */
        /* font-size: 1.79em; */
    /* } */
    /* .h3rd h2{ */
        /* font-size: 0.73em; */
    /* } */
}

@media(max-width:750px) {
    /* *{ */
        /* border: 2px solid; */
    /* } */
    /* header{ */
        /* display: none; */
        /* visibility: hidden; */
    /* } */
   
    .wholhead .wholhead1{
        width: 50%;
    }
    .wholhead .wholhead3{
        width: 50%;
    }
    .wholhead .wholhead2{
        display: none;
        visibility: hidden;
    }
    .sap{
        /* padding: 20px; */
        /* padding-right: 25px; */
        display: block;
        justify-content: center;
        justify-items: center;
    }
    .sap .h2nd{
        width: 100%;
        /* padding-left: -50px; */
        justify-content: center;
        justify-items: center;

    }
    .sap2{
        /* border: 2px solid; */
        /* padding-right: 25px; */
        display: block;
        justify-content: center;
        justify-items: center;
        padding-top: 50px;
    }
    .sap2 .h3rd{
        width: 100%;
        /* padding-left: -50px; */
        justify-content: center;
        justify-items: center;
    }
    .subscription{
        justify-content: center;
        justify-items: center;
        padding-bottom: 50px;
    }
    .subscription .sub{
        /* border: 2px solid; */
        justify-content: center;
        justify-items: center;
        width: 100%;
    }
    /* .bod1 img{ */
        /* display: none; */
        /* visibility: hidden; */
    /* } */
    .suby{
        /* width:100%; */
        padding-left: 10px;
        /* height:400px; */
    }
    /* .pos{ */
        /* padding-left: 20px; */
    /* } */
    .h4th{
        padding-top: 20px;
        /* padding-left: 20px; */
        /* border: 2px solid; */
    }
    .h3rd button{
        background-color:white;
        color:black;    
        /* width: 105px; */
        height: 47px;
        font-size:15px ;
        /* border-radius: 10px; */
        /* font-size: 1.3em; */
        /* font-size: 1.5vw; */
        transition-duration: 0.3s;
    }
    .h2nd button{
        background-color:white;
        color:black;
        /* width: ; */
        height: 50px;
        font-size: 15px;
        /* border-radius: 10px; */
        /* font-size: 1.5vw; */
        transition-duration: 0.3s;
    }
    footer img{
        width: 90px;
    }
    .sap h1{
        font-size: 2.5em;
    }
    .sap h2{
        font-size: 0.95em;
    }
    /* .sap2{ */
        /* padding-left: 40px; */
    /* } */
    .sap2 h1{
        font-size: 2.5em;
        /* justify-content: center; */
        /* justify-items: center; */
    }
    .sap2 h2{
        font-size: 1em;
        /* padding-left: 65px; */
        /* justify-content: center; */
        /* justify-items: center; */
    }
    .sub h1{
        font-size: 1.8em;
    }
    .sub .words{
        font-size: 0.9em;
        /* justify-content: center; */
        /* justify-items: center; */
    }
    footer{
        font-size: 0.8em;
    }
}
@media(max-width:700px){
    /* .h3rd button{ */
        /* background-color:white; */
        /* color:black;     */
        /* width: 90px; */
        /* height: 45px; */
        /* font-size:16px ; */
        /* border-radius: 10px; */
        /* font-size: 1.3em; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */
    /* } */
    /* .h2nd button{ */
        /* background-color:white; */
        /* color:black; */
        /* width: 180px; */
        /* height: 45px; */
        /* font-size: 20px; */
        /* border-radius: 10px; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */
    /* } */
    /* .suby{ */
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    /* } */
    .pos img{
        width: 190px;
        height: 180px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        width: 600px;
        /* padding-top: 20px; */
        /* padding-left: 30px; */
    }
    /* .h4th{ */
        /* padding-left: 30px; */
    /* } */
    footer img{
        width: 85px;
    }
    .sap h1{
        font-size: 2.45em;
    }
    .sap h2{
        font-size: 0.85em;
    }
    .sap2{
        padding-right: 18px;
    }
    .sap2 h1{
        font-size: 2.3em;
    }
    .sap2 h2{
        font-size: 0.9em;
    }
    .sub h1{
        font-size: 1.8em;
    }
    .sub .words{
        font-size: 0.9em;
    }
}
@media(max-width:650px){
    /* .h3rd button{ */
        /* background-color:white; */
        /* color:black;     */
        /* width: 80px; */
        /* height: 40px; */
        /* font-size:16px ; */
        /* border-radius: 10px; */
        /* font-size: 1.3em; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */
    /* } */
    /* .h2nd button{ */
        /* background-color:white; */
        /* color:black; */
        /* width: 155px; */
        /* height: 40px; */
        /* font-size: 20px; */
        /* border-radius: 10px; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */
    /* } */
    .suby img{
        width: 180px;
        height: 120px;
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    }
    .pos img{
        width: 170px;
        height: 160px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        width: 505px;
        height: 320px;
        /* padding-top: 20px; */
        /* padding-left: 30px; */
    }
    /* .h4th{ */
        /* padding-left: 30px; */
    /* } */
    footer img{
        width: 80px;
    }
    .sap h1{
        font-size: 2.425em;
    }
    .sap h2{
        font-size: 0.8em;
    }
    .sap2 h1{
        font-size: 1.8em;
    }
    .sap2 h2{
        font-size: 0.8em;
    }
    .sub h1{
        font-size: 1.7em;
    }
    .sub .words{
        font-size: 0.8em;
    }
    footer{
        font-size: 0.7em;
    }
}
@media(max-width:600px){
    /* .h3rd button{ */
        /* background-color:white;
        color:black;    
        width: 68px;
        height: 34px;
        font-size:11px ;
        /* border-radius: 10px; */
        /* font-size: 1.3em; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */
    /* } */
    /* .h2nd button{ */
        /* background-color:white; */
        /* color:black; */
        /* width: 140px; */
        /* height: 35px; */
        /* font-size: 12px; */
        /* border-radius: 10px; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */ 
    /* } */
    footer img{
        width: 70px;
    }
    /* .sap h1{ */
        /* font-size: 2.4em; */
    /* } */
    /* .sap h2{ */
        /* font-size: 0.725em; */
    /* } */
    /* .sap2 h1{ */
        /* font-size: 1.8em; */
    /* } */
    /* .sap2 h2{ */
        /* font-size: 0.7em; */
    /* } */
    /* .sub h1{ */
        /* font-size: 1.7em; */
    /* } */
    /* .sub .words{ */
        /* font-size: 0.8em; */
    /* } */
    .suby img{
        width: 165px;
        height: 105px;
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    }
    .pos img{
        width: 160px;
        height: 150px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        width: 490px;
        height: 305px;
        /* padding-top: 20px; */
        /* padding-left: 30px; */
    }
    footer{
        font-size: 0.6em;
    }
}
@media(max-width:550px){
    /* .h3rd button{
        background-color:white;
        color:black;    
        width: 65px;
        height: 30px;
        font-size:10px ;
        /* border-radius: 10px; */
        /* font-size: 1.3em; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */
    /* } */
    /* .h2nd button{ */
        /* background-color:white; */
        /* color:black; */
        /* width: 110px; */
        /* height: 30px; */
        /* font-size: 10px; */
        /* border-radius: 10px; */
        /* font-size: 1.5vw; */
        /* transition-duration: 0.3s; */
    /* } */ 
    .suby img{
        width: 140px;
        height: 100px;
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    }
    .pos img{
        width: 140px;
        height: 140px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        width: 440px;
        height: 280px;
        /* padding-top: 20px; */
        /* padding-left: 30px; */
    }
    footer img{
        width: 60px;
    }
    .wholhead1{
        display: flex;
    }
    /* .Menu:hover{ */
        
    /* } */
    .prime{
        font-size: 12px;
        width: 50%;
        /* border: 1px solid;         */
    }
    .sap h1{
        font-size: 2.2em;
    }
    /* .sap h2{ */
        /* font-size: 0.65em; */
    /* } */
    /* .sap2 h1{ */
        /* font-size: 1.8em; */
    /* } */
    /* .sap2 h2{ */
        /* font-size: 0.6em; */
    /* } */
    /* .sub h1{ */
        /* font-size: 1.5em; */
    /* } */
    /* .sub .words{ */
        /* font-size: 0.7em; */
    /* } */
    footer{
        font-size: 0.55em;
    }
}
@media(max-width:500px){
    .sap h1{
        font-size: 2em;
    }
    /* .sap h2{ */
        /* font-size: 0.57em; */
    /* } */
    .sap2 h1{
        font-size: 1.6em;
    }
    /* .sap2 h2{ */
        /* font-size: 0.6em; */
    /* } */
    /* .sub h1{ */
        /* font-size: 1.5em; */
    /* } */
    /* .sub .words{ */
        /* font-size: 0.7em; */
    /* } */
    .suby img{
        width: 130px;
        height: 95px;
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    }
    .pos img{
        width: 130px;
        height: 135px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        width: 410px;
        height: 265px;
        /* padding-top: 20px; */
        /* padding-left: 30px; */
    }   
}
@media(max-width:450px){
    .sap h1{
        font-size: 1.8em;
    }
    /* .sap h2{ */
        /* font-size: 0.53em; */
    /* } */
    .sap2 h1{
        font-size: 1.4em;
    }
    .sap2 h2{
        font-size: 0.7em;
    }
    /* .sub h1{ */
        /* font-size: 1.5em; */
    /* } */
    /* .sub .words{ */
        /* font-size: 0.7em; */
    /* } */
    .suby img{
        width: 115px;
        height: 85px;
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    }
    .pos img{
        width: 110px;
        height: 125px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        width: 350px;
        height: 235px;
        /* padding-top: 20px; */
        /* padding-left: 30px; */
    }
}
@media(max-width:400px){
    #h2nd{
        display: none;
        visibility: hidden;
    }
    .subs{
        width: 100%;
    }
    .sap h1{
        font-size: 1.5em;
    }
    /* .sap h2{ */
        /* font-size: 0.4em; */
    /* } */
    .sap2 h1{
        font-size: 1.2em;
    }
    .sap2 h2{
        font-size: 0.65em;
    }
    /* .sub h1{ */
        /* font-size: 1.5em; */
    /* } */
    /* .sub .words{ */
        /* font-size: 0.7em; */
    /* } */
    .suby img{
        width: 95px;
        height: 75px;
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    }
    .pos img{
        width: 95px;
        height: 115px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        /* border-radius: 10px; */
        width: 250px;
        height: 180px;
        /* padding-top: 20px; */
        /* padding-left: 20px; */
    }
    footer{
        font-size: 0.5em;
    }
}
@media(max-width:320px){
    .sap h1{
        font-size: 1.4em;
    }
    /* .sap h2{ */
        /* font-size: 0.4em; */
    /* } */
    .sap2 h1{
        font-size: 1.05em;
    }
    .sap2 h2{
        font-size: 0.575em;
    }
    /* .sub h1{ */
        /* font-size: 1.5em; */
    /* } */
    /* .sub .words{ */
        /* font-size: 0.7em; */
    /* } */
    .suby img{
        width: 85px;
        height: 60px;
        /* width:100%; */
        /* padding-left: 10px; */
        /* height:400px; */
    }
    .pos img{
        width: 85px;
        height: 105px;
    }
    /* .pos{ */
        /* padding-left: 30px; */
    /* } */
    .h4th img{
        /* border-radius: 10px; */
        width: 220px;
        height: 120px;
        margin-left: 20px;
        /* padding-top: 20px; */
        /* padding-left: 20px; */
    }
    footer{
        font-size: 0.45em;
    }
}